{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    {config, "config/sys.config"},
    {apps, [mdns]}
]}.

{plugins, [erlfmt]}.

{erlfmt, [
    write,
    {print_width, 100},
    {files, ["src/*.erl", "include/*.hrl", "test/*.erl", "rebar.config"]}
]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_extra_apps, [kernel, stdlib]}
]}.
